<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">PharmaLink</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/json-formatter-js@2.3.4/dist/json-formatter.min.css">
    <link rel="stylesheet" th:href="@{/css/display-json.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/display-table.css}">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/json-formatter-js@2.3.4/dist/json-formatter.umd.min.js"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/display-json.js}"></script>
<script th:src="@{/js/clipboard-helper.js}"></script>
<script th:src="@{/js/dynamicTableRenderer.js}"></script>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div layout:fragment="content">
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<th:block layout:fragment="pageJs"></th:block>
</body>
</html>