/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/channel-artifacts/*.pb
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/fabric-ca-server-config.yaml
create/organizations/fabric-ca/org1/*
create/organizations/fabric-ca/org2/*
join/fabric-ca/org3/*
create/organizations/ordererOrganizations/*
create/organizations/peerOrganizations/*
create/system-genesis-block/*
*.tar.gz
log.txt
