<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="apothekeDetails">
    <div class="card" th:if="${medikamenteAsJsonList != null and !medikamenteAsJsonList.isEmpty()}">
        <div class="card-header">
            <h3>Medikamente</h3>
        </div>
        <div class="card-body">
            <div class="flex-container">
                <div th:each="jsonString, iterStat : ${medikamenteAsJsonList}"
                     th:id="'json-container-' + ${iterStat.index}"
                     class="json-container-item">
                    <script th:id="'json-data-' + ${iterStat.index}" type="application/json" th:utext="${jsonString}"></script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>