<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/display-json.css}">
</head>
<body>
<div th:fragment="herstellerDetails">
<!--     <div th:if="${getAllMedikamente != null and !getAllMedikamente.isEmpty()}">-->
<!--        <div th:replace="~{fragments/dynamicTable :: dynamicTable(-->
<!--            tableTitle='Meine Medikamente',-->
<!--            tableJsonString=${getAllMedikamente},  idPrefix='meine-medikamente-transactions-table',-->
<!--            maxBodyHeight=400-->
<!--        )}"></div>-->
<!--    </div>-->
</div>
</div>

</body>
</html>