<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Anmelden</h1>

<div th:if="${param.error}" style="color: red;">
    Ungültiger Benutzername oder Passwort.
</div>

<div th:if="${param.logout}" style="color: green;">
    Sie wurden erfolgreich abgemeldet.
</div>

<form th:action="@{/authenticate}" method="post">
    <div>
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Anmelden</button>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
</body>
</html>