<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}">
<head>
    <title>Manage</title>
    <th:block layout:fragment="pageCss">
        <link rel="stylesheet" th:href="@{/css/manage.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="~{fragments/manage-content :: manageContent}"></div>
</div>
<th:block layout:fragment="pageJs">
    <script th:src="@{/js/manage.js}"></script>
</th:block>
</body>
</html>